.container-upload-archives {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-width: 400px;
  min-height: 400px;
  font-family: sans-serif;
}

#picture__input {
  display: none;
}

.picture {
  width: 25rem;
  height: 25rem;
  background: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  border: 2px dashed currentcolor;
  cursor: pointer;
  font-family: sans-serif;
  transition: color 300ms ease-in-out, background 300ms ease-in-out;
  outline: none;
  overflow: hidden;
  border-radius: 8px;
}

.picture:hover {
  color: #777;
  background: #CCC;
}

.picture:focus {
  color: #777;
  background: #CCC;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
  max-width: 100%;
}

.btn-send-file {
  margin: 30px 10px 10px 10px;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background: black;
  width: 120px;
  height: 40px;
  border: none;
  min-width: 40px;
  min-height: 40px;
}

.concluited-upload {
  color: black;
}
